.btn {
  border-radius: 4px;
  width: 100px;
  height: 40px;
  background-color: black;
  border-color: black;

  color: white;
  opacity: 0.5;
  font-size: 16px;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
